@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    background-color: #0f022e;
    font-family: "Lora", serif, Arial;
    font-weight: 400;
    color: #333;
    overflow-x: hidden;
    min-height: 100%;
    min-width: 100%;
}

h1,
h2,
h3,
h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    color: #111827;
}

h1,
h2 {
    margin-bottom: 1.5em;
}

h3,
h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    margin-top: 0.5em;
    margin-bottom: 0;
}

p {
    line-height: 1.4em;
    font-size: 1.2em;
    padding-bottom: 0.75em;
}

.download {
    display: none;
    img {
        width: 40px;
        position: relative;
        top: -1px;
    }
}

.prose {
    max-width: unset;

    section p {
        margin: 0.1em inherit;

        &:last-of-type {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    ul {
        margin-top: 0;
        list-style: initial;
        padding-left: 1em;
        padding-top: 1em;

        >li {
            padding: 0.25em 0.5em 0.25 0;
            font-size: 1.2em;

            &::marker {
                position: relative;
                top: -2px;
            }
        }
    }
}

#wrapper {
    background: #fff;
    border-radius: 3px;
}

.container {
    position: relative;
    z-index: 2;
    overflow-x: hidden;
}

.particles-js-canvas-el {
    position: absolute;
    top: 0;
    z-index: 1;
    overflow-x: hidden;
}

#sidebar {
    border-radius: 0px 3px 3px 0px;
    background: unset;
    border-left: 1px solid rgba(229, 231, 235, var(--tw-border-opacity));

    h1,
    h2 {
        font-weight: 700;
        margin-bottom: 0.2em;
    }

    h1 {
        color: #00d1b2;
    }

    p,
    a {
        line-height: 1.2em;
        font-size: 1em;
        padding: 0;
        margin: 0;
    }
}

.section-headline {
    --tw-border-opacity: 1;
    border-color: #00d1b2;
    border-left-width: 8px;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding-left: 0.5rem;
    text-transform: uppercase;
}

.section-headline {
    color: #00d1b2;
}

.rounded-xl {
    background-color: #00d1b2;
    color: #fff;
    padding: 2px 8px;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    position: relative;
    display: inline-block;
    font-weight: 500;
}

.planet {
    display: none;
}

@media only screen and (min-width: 1087px) {
    .download {
        display: block;
        position: absolute;
        right: 5rem;
        background: #00d1b2;
        color: #fff;
        font-weight: 500;
        padding: 2px 10px 2px 0;
        border-radius: 0 0 5px 5px;
    }

    .planet {
        display: unset;
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: none;
        background: linear-gradient(to right, #de0061 0%, #00a2a5 100%);
        right: 3em;
        top: 40%;
        transform: rotate(10deg);
        transform-origin: center;
        box-shadow: 0px 0px 4px 10px rgba(139, 49, 169, 0.52), 0px 0px 4px 20px rgba(63, 167, 143, 0.22);
        z-index: 1;
        animation: float infinite 10s ease-in-out alternate;
        &::before {
            content: "";
            position: absolute;
            width: 400px;
            height: 400px;
            left: -160px;
            top: -160px;
            border-radius: 50%;
            background-color: rgba(42, 218, 218, 0.1);
            filter: blur(40px);
            z-index: -999;
            pointer-events: none;
        }
    }

    #ring {
        position: absolute;
        width: 195px;
        height: 135px;
        left: -46%;
        top: -13%;
        transform: rotate(-20deg);
    }

    .ring-style {
        opacity: 0.38;
        fill: none;
        stroke: url(#SVGID_1_);
        stroke-width: 6.4984;
        stroke-linecap: round;
        stroke-miterlimit: 10;
    }


    @keyframes float {
        from {
            transform: translate(-20px, 20px) rotate(10deg);
        }

        to {
            transform: translate(20px, -20px) rotate(-30deg);
        }
    }
}