.blog-card {
  width: 100%;
  height: 525px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative; }
  .blog-card h2 {
    color: #fff;
    padding: 1em 1em 0em 1em;
    font-size: 3em; }
  .blog-card .bitbucket-wrapper {
    background-color: #2E87FB;
    padding-top: 2.2em;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: 148px;
    left: 39%;
    width: 22%;
    height: 26%; }
    .blog-card .bitbucket-wrapper svg {
      color: #fff;
      font-size: 4em; }
      .blog-card .bitbucket-wrapper svg:hover {
        cursor: pointer; }
  .blog-card .content-links {
    position: absolute;
    width: 100%;
    bottom: 65px; }
    .blog-card .content-links a {
      font-size: 3em;
      margin: 0 0.25em;
      color: #fff; }
      .blog-card .content-links a:hover {
        color: #3273dc; }
  .blog-card.drupal-bitbucket:hover .color-overlay {
    background-color: #0747a6; }
  .blog-card.litl-it:hover .color-overlay {
    background-color: #3E88BA; }
  .blog-card.locc-it:hover .color-overlay {
    background-color: #fd746c; }
  .blog-card.lucy-yin:hover .color-overlay {
    background-color: #36465d; }
  .blog-card:hover .card-info {
    opacity: 1;
    bottom: 120px; }

.title-content {
  text-align: center;
  z-index: 20;
  width: 100%;
  padding-bottom: 5px; }

h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #9CC9E3;
  margin-bottom: 0; }

hr {
  width: 50px;
  height: 3px;
  margin: 20px auto;
  border: 0;
  background: #fff; }

.intro {
  width: 75%;
  height: 60px;
  margin: 0 auto;
  color: #DCE3E7;
  font-size: 1.4em;
  line-height: 22px; }

.card-info {
  width: 100%;
  position: absolute;
  top: 175px;
  left: 0;
  margin: 0 auto;
  padding: 0 50px;
  color: #DCE3E7;
  line-height: 24px;
  z-index: 20;
  opacity: 0;
  transition: bottom 0.3s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
  font-size: 1em; }

.utility-info {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 20;
  width: 100%; }

.utility-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  position: absolute;
  bottom: 1em; }
  .utility-list li {
    padding: 0.25em 0.5em;
    display: inline-block;
    color: #DCE3E7; }
    .utility-list li.date {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 5px;
      font-size: 1.25em; }
